$main-background-color: #212529;
$menu-font-color: #FFFFFF;
.about {
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .short-movie {
    background-color: #1c1d1f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 30rem;
  }

  .about-me {


    flex-direction: column;
    background: #1c1d1f;
    height: 45.1rem;
    width: 50rem;
    color: #DCDCDC;
    text-align: center;
    text-justify: auto;

    &__top {
      h1, h2 {
        text-align: center;
        align-content: center;
      }
    }

    &__bottom {
      display: flex;
      
      &__left {

      }

      &__right {



      img {

        margin: 0;
      }
      }
    }
  }
}
