$main-background-color: #212529;
$menu-font-color: #FFFFFF;
.content {
  display: flex;
margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  .intro {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: $main-background-color;
    color: #dddddd;
    font-size: 1.2rem;
    line-height: 1.5rem;

    h1 {
      margin-bottom: 3rem;
      font-size: 2rem;


    }

  }

  .intro__button {
    border-left: #FFFFFF solid 0.1rem;
    border-left-style: groove;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-background-color;
    width: 90rem;


    .button {
      border: #DCDCDC 0.1rem solid;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $menu-font-color;
      text-align: center;
      width: 38rem;
      height: 4rem;
      background-color: #495057;
      font-size: 1.5rem;


    }
  }
}
