$main-background-color: #212529;
$menu-font-color: #FFFFFF;
$second-fond-color: #dddddd;
.contact-part {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-right: 15rem;
  padding-left: 10rem;

  .contact {
    .intro-contact {

      display: flex;
      font-size: 2rem;
      color: $menu-font-color;
      margin-left: 1.2rem;
    }

    .contact-details {
      padding-top: 4rem;
      gap: 4rem;
      display: flex;
      font-size: 1.2rem;
      color: $second-fond-color;
      align-items: center;
      justify-content: left;


      .name {
        flex-grow: 1;
        border-right: #F0E2E2 solid  0.1rem;
        margin: 1rem;
      }



      .address {flex-grow: 1;

        margin-left: 1.5rem;
      }

      .empty-place {
        flex-grow: 12;

      }
    }





  }

  .second-part {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: min(8rem);
    margin-right: min(8rem);
    .map {
      iframe {

        width: 45rem;
        height: 35rem;
        border-radius: 25px;
      }
    }

    .contact-form {

      border-radius: 30px;
      background-color: $main-background-color;
      width: 28rem;
      height: 40rem;
      border: $menu-font-color 0.1rem solid;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title-contact-form {
        align-items: center;
        color: $menu-font-color;
        font-size: 1.8rem;
        margin-bottom: 4rem;
        margin-top: 3rem;
      }

      .contact-form-input {
        border-radius: 10px;
        display: flex;
        align-items: center;
        background-color: #FBFCFD;
        width: 22rem;
        color: #212529;
        padding: 1rem;
        margin-top: 1rem;
        font-family: 'Radley', serif;
      }

      .send {
        font-family: 'Radley', serif;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #495057;
        width: 22rem;
        height: 3rem;
        color: $menu-font-color;
        margin-bottom: 2rem;
        margin-top: 3rem;
      }

    }
  }
}
