$main-background-color: #212529;
$menu-font-color: #FFFFFF;
.content {
  display: flex;

  .intro {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 20rem;
    margin-right: 40rem;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    background-color: $main-background-color;
    color: #dddddd;
    font-size: 1.2rem;
    line-height: 1.5rem;

    h1 {
      margin-bottom: 2rem;
      font-size: 2rem;


    }

  }

  .intro__button {
    border-left: #FFFFFF solid 0.1rem;
    border-left-style: groove;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-background-color;
    width: 95rem;


    .button {
      border: #DCDCDC 0.1rem solid;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $menu-font-color;
      text-align: center;
      width: 38rem;
      height: 4rem;
      background-color: #495057;
      font-size: 1.5rem;


    }
  }
}
