$menu-font-color: #FFFFFF;
.description {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #212529;
  display: flex;
.price {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left:20rem;
  margin-right: 40rem;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  background-color: #212529;
  color: #dddddd;
  font-size: 1.2rem;
h1 {
  color: $menu-font-color;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 2rem;
}
}
.description__button{
  border-left: $menu-font-color solid 0.1rem;
  border-left-style: groove;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95rem;
  .button {
    color: $menu-font-color;
    border: #DCDCDC 0.1rem solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 38rem;
    height: 4rem;
    background-color: #495057;
    font-size: 1.5rem;
  }
}}

