.nav {
  display: inline-block;
  font-size: 1.5rem;
}
.nav i {
  color: white;
  font-size: 1.5rem;
}
.nav ol {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.nav ol a {
  color: white;
  text-decoration: none;
}
.nav ol > li {
  float: left;
  padding-right: 2rem;
}

.recommendations {
  display: flex;
  justify-content: space-evenly;
}
.recommendations .single-recommendation {
  background-color: #DDDDDD;
  border-radius: 40px;
  padding: 3rem;
  width: 31.25rem;
  max-height: 18.75rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
}
.recommendations .single-recommendation__circle-accent {
  width: 18.75rem;
  height: 18.75rem;
  background-color: #F0E2E2;
  border-radius: 50%;
  position: absolute;
  top: 4.75rem;
  left: 24rem;
}
.recommendations .single-recommendation__quote-icon {
  font-size: 2rem;
}
.recommendations .single-recommendation__text {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.375rem;
  z-index: 999;
  position: relative;
}
.recommendations .single-recommendation__signature {
  display: flex;
  align-items: center;
}
.recommendations .single-recommendation__signature__icon {
  width: 3.7rem;
  height: 3.7rem;
  background: url("./../assets/images/60x60.png");
  margin-right: 1rem;
}
.recommendations .single-recommendation__signature__name {
  font-size: 1.375rem;
}
.recommendations .single-recommendation__signature__job {
  font-size: 1.375rem;
  color: #5B5B5B;
}

.animation .parent {
  background: url("./../assets/images/component 1.png");
  width: 160rem;
  height: 12rem;
}

@keyframes imageAnimation {
  0% {
    background: url("./../assets/images/component 1.png");
  }
  33% {
    background: url("./../assets/images/component 2.png");
  }
  66% {
    background: url("./../assets/images/component 3.png");
  }
  100% {
    background: url("./../assets/images/component 1.png");
  }
}
#animatedElement {
  width: 160rem;
  height: 12rem;
  position: absolute;
  right: 0;
  top: 0;
  animation-name: imageAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.description {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #212529;
  display: flex;
}
.description .price {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: 20rem;
  margin-right: 40rem;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  background-color: #212529;
  color: #dddddd;
  font-size: 1.2rem;
}
.description .price h1 {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 2rem;
}
.description .description__button {
  border-left: #FFFFFF solid 0.1rem;
  border-left-style: groove;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95rem;
}
.description .description__button .button {
  color: #FFFFFF;
  border: #DCDCDC 0.1rem solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 38rem;
  height: 4rem;
  background-color: #495057;
  font-size: 1.5rem;
}

.content {
  display: flex;
}
.content .intro {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: 20rem;
  margin-right: 40rem;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  background-color: #212529;
  color: #dddddd;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.content .intro h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.content .intro__button {
  border-left: #FFFFFF solid 0.1rem;
  border-left-style: groove;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  width: 95rem;
}
.content .intro__button .button {
  border: #DCDCDC 0.1rem solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
  width: 38rem;
  height: 4rem;
  background-color: #495057;
  font-size: 1.5rem;
}

.about {
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about .short-movie {
  background-color: #1c1d1f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 30rem;
}
.about .about-me {
  display: flex;
  flex-direction: column;
  background: #1c1d1f;
  height: 45.1rem;
  width: 50rem;
  color: #DCDCDC;
  text-align: center;
  text-justify: auto;
}
.about .about-me h1, .about .about-me h2 {
  text-align: center;
  align-content: center;
}
.about img {
  width: 60%;
  height: 60%;
  margin: 0;
}

.contact-part .intro-contact {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-left: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.contact-part .contact-details {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #dddddd;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.contact-part .contact-details .name {
  margin-right: 4rem;
}
.contact-part .contact-details .address {
  margin-left: 4rem;
}
.contact-part iframe {
  width: 35rem;
  height: 30rem;
}

body {
  background-color: #212529;
  font-family: "Radley", serif;
  margin: 0;
}

.photo {
  background: url("./../assets/images/photo.jpg");
  height: 37rem;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -5rem;
}

.wrapper {
  width: 100%;
}

.header {
  background-color: #212529;
  position: sticky;
  top: 0;
  display: flex;
  height: 5.875rem;
  width: 100%;
  z-index: 10000;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.intro-recommendations {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #FFFFFF;
  margin-bottom: 6rem;
  margin-top: 6rem;
}

/*# sourceMappingURL=main.css.map */
