@import "nav";
@import "recommendation";
@import "animations";
@import "description";

$main-background-color: #212529;
$menu-font-color: #FFFFFF;
@mixin with-background-color($color) {
  background-color: $color;
  // najbardziej sie przydaje jak masz tutaj jeszcze cos
}

@mixin sticky-on-top {
  position: sticky;
  top: 0;
}


body {
  background-color: $main-background-color;
  font-family: 'Radley', serif; // todo: add Google Font - search for documentation
  margin: 0;
}

.photo {
  background: url("./../assets/images/photo.jpg");
  height: 37rem;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -5rem;
}

.wrapper {
  width: 100%;
}


.header {
  @include with-background-color($main-background-color);
  @include sticky-on-top;
  display: flex;
  height: 5.875rem;
  width: 100%;
  z-index: 10000;
  justify-content: space-between;
  align-items: center;
}

.logo {

  font-size: 2rem;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  color: $menu-font-color;
}

.content {
  display: flex;

  .intro {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left:20rem;
    margin-right: 40rem;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    background-color: $main-background-color;
    color: #dddddd;
    font-size: 1.2rem;
    line-height: 1.5rem;
    h1 {
margin-bottom: 2rem;
      font-size: 1.5rem;


    }

  }
    .intro__button {
      border-left: #FFFFFF solid 0.1rem;
border-left-style: groove;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-background-color;
      width: 95rem;


      .button {
        border: #DCDCDC 0.1rem solid;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $menu-font-color;
        text-align: center;
        width: 38rem;
        height: 4rem;
        background-color: #495057;
        font-size: 1.5rem;


      }
    }
  }



.about {
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;

  .short-movie {
    background-color: $main-background-color;
    height: 45.1rem;
    width: 100rem;
    display: flex;
    justify-content: center;

  }

  .about-me {
    display: flex;
    flex-direction: column;
    background: #1c1d1f;
    height: 45.1rem;
    width: 50rem;
    color: #DCDCDC;

    h1, h2, h3 {
      text-align: center;
      align-content: center;
    }

  }

  img {
    width: 70%;
    height: 70%;
    margin: 0;
  }
}
.intro-recommendations {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: $menu-font-color;
  margin-bottom: 6rem;
  margin-top: 6rem;

}