@import "nav";
@import "recommendation";

$main-background-color: #212529;
$menu-font-color: #FFFFFF;
@mixin with-background-color($color) {
  background-color: $color;
  // najbardziej sie przydaje jak masz tutaj jeszcze cos
}

@mixin sticky-on-top {
  position: sticky;
  top: 0;
}


body {
  background-color: $main-background-color;
  font-family: 'Radley', serif; // todo: add Google Font - search for documentation
  margin: 0;
}

.photo {
  background: url("./../assets/images/photo.jpg");
  height: 37rem;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -5rem;
}

.wrapper {
  width: 100%;
}


.header {
  @include with-background-color($main-background-color);
  @include sticky-on-top;

  display: flex;
  height: 5.875rem;
  width: 100%;
  z-index: 10000;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  color: $menu-font-color;
}
.intro {
  background-color: $main-background-color;
  display: flex;
  font-size: 1.5rem;
  color: #dddddd;
  height: 21rem;
align-items: center;
column-gap: 30rem;
h1 {
  font-size: 2rem;
  color: $menu-font-color;
}
.intro__button {
background-color: $main-background-color;
  width: 95rem;

.button{
  color: $menu-font-color;
  text-align: center;
  width: 38rem;
  height: 4rem;
  background-color: #495057;

}
}
}
