.nav {
  width: 90%;
  display: inline-block;

  ol {
    padding: 0;
    list-style-type: none;
  }

  ol a {
    color: white;
    text-decoration: none;

  }

  ol > li {
    float: right;
    padding: 1.4rem;
  }
}
